/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

body {
    line-height: 1.5;
    --webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

ol, ul {
    list-style: none;
    padding-inline: 0;
}


/* CSS Styling */

/* h1 {
    text-align: center;
}

.container {
    margin: 50px auto;
    max-width: 500px;
    min-height: 500px;
    border: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    cursor: pointer;
    border: 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 6rem;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}

.square:nth-child(1),
.square:nth-child(4),
.square:nth-child(7) {
    border-left: none;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
    border-right: none;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
    border-bottom: none;
} */